<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


<!--    <settings>-->
<!--  处理字段不一致的方法2：通过全局配置将_自动映射为驼峰   -->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--    </settings>-->

    <typeAliases>
        <!-- typeAlias用来设置类型的别名,type指示全类名,alias表示别名,如果未声明alias,则别名默认是类名,且不区分大小写
        通过别名即可避免大量书写全类名 -->
        
        <!--相比于typeAlias,package更加好用
         package的原理是:以name指定的包为单位,将该包下的所有类设置为默认别名即不区分大小写的类名-->
        <package name="com.kul.pojo"/>
    </typeAliases>

    <!--设置连接数据库的环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ssg_mybatis?serverTimezone=UTC"/>

                <!--配置子自己的账号和密码-->
                <property name="username" value="root"/>
                <property name="password" value="1234567a"/>
            </dataSource>
        </environment>
    </environments>

    <!--引入映射文件-->
<!--    <mappers>-->
<!--        <mapper resource="mappers/UserMapper.xml"/>-->
<!--    </mappers>-->

<!--引入该包下的所有映射文件,需要注意的是该报名结构必须与java下的mapper的包名结构完全一致-->
    <mappers>
        <package name="com.kul.mapper"/>
    </mappers>
</configuration>
