<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper接口对应映射文件
    mapper接口和映射文件要保持两个一致
    1.mapper接口全类名和映射文件namespace一致
    2.mapper接口的方法名和映射文件sql的id保持一致
-->
<mapper namespace="com.kul.mapper.UserMapper">
    <!--方法名与id保持一致，int insertUser();-->
    <insert id="insertUser">
        <!--写sql语句-->
        insert into t_user values(null,'admin','123456',23,'男','12345@qq.com')
    </insert>

    <update id="updateUser">
        update t_user set username = 'kultimos' where id = 1
    </update>

    <delete id="deleteUser">
        delete from t_user where id = 15
    </delete>

    <select id="selectById" resultType="com.kul.pojo.User">
        select * from t_user where id = #{id}
    </select>

    <select id="selectAll" resultType="User" parameterType="string">
        select * from t_user where username = #{userName}
    </select>
</mapper>
