<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper接口对应映射文件
    mapper接口和映射文件要保持两个一致
    1.mapper接口全类名和映射文件namespace一致
    2.mapper接口的方法名和映射文件sql的id保持一致
-->
<mapper namespace="com.kul.mapper.DeptMapper">

    <resultMap id="deptMap" type="Dept">
        <id property="did" column="did"></id>
        <result property="deptName" column="dept_name"></result>
    </resultMap>

    <select id="getEmpAndDeptByStepTwo" resultMap="deptMap">
        select * from t_dept where did = #{did}
    </select>



<!--  处理一对多映射关系
      1.单条语句查询时直接应用collection标签
      需要注意这里collection中使用的是ofType而不是association中的javaType  -->
    <resultMap id="deptAndEmpInfoMap" type="Dept">
        <id property="did" column="did"></id>
        <result property="deptName" column="dept_name"></result>
        <collection property="empList" ofType="Emp">
            <id property="eid" column="eid"></id>
            <result property="age" column="age"></result>
            <result property="email" column="email"></result>
            <result property="empName" column="emp_name"></result>
            <result property="sex" column="sex"></result>
            <result property="did" column="did"></result>
        </collection>
    </resultMap>

<!--  2.分步查询     -->



    <resultMap id="deptAndEmpInfoByStep" type="Dept">
        <id property="did" column="did"></id>
        <result property="deptName" column="dept_name"></result>
        <collection property="empList"  column="did" ofType="Emp" select="com.kul.mapper.EmpMapper.selectEmpByDid">
        </collection>
    </resultMap>



    <select id="getDeptAndEmpInfo" resultMap="deptAndEmpInfoByStep">
        select * from t_dept where did = #{did}
    </select>
</mapper>