<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper接口对应映射文件
    mapper接口和映射文件要保持两个一致
    1.mapper接口全类名和映射文件namespace一致
    2.mapper接口的方法名和映射文件sql的id保持一致
-->
<mapper namespace="com.kul.mapper.EmpMapper">

<!--    最简单的一种处理数据库和类中字段不一致的方法,就是起别名,将数据库查询结果的对应列起别名为idea中类的属性名来实现映射
        这种依然适用于多表联查时将最终结果数据起别名然后映射到类中,这个类可以不是一个数据库表的映射类,只是一个用来接收查询结果的类
-->
    <select id="selectT" resultType="Emp">
        select eid,emp_name as empName,age,sex,email,did  from t_emp
    </select>
</mapper>